/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: url("../../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-VariableFont_wght';
  src: url("../../fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} 


/* line 1, ../scss/base/_common.scss */
* {
  box-sizing: border-box;
  max-width: 100%;
}
/* line 5, ../scss/base/_common.scss */
*:focus {
  outline: none !important;
}

.row{
  margin: 0px;
}

@media (min-width: 1200px) {
  /* line 11, ../scss/base/_common.scss */
  .container {
    max-width: 1170px;
  }
}
/* line 16, ../scss/base/_common.scss */
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* line 1, ../scss/components/_buttons.scss */
button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

/* line 21, ../scss/base/_common.scss */
body {
  font: 18px "Comfortaa-VariableFont_wght", sans-serif;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.3px;
  color: #000;
}

/* line 27, ../scss/base/_common.scss */
.container-fluid {
  padding: 0;
}

/* line 31, ../scss/base/_common.scss */
img {
  display: block;
}


            /* WELCOME-SECTION */
/* line 1, ../scss/layouts/_sections.scss */
.welcome-section {
  background: url("../../img/bg-welcome.jpg") center no-repeat;
  background-size: cover;
  min-height: 750px;
  padding: 7% 0 10%;
}

.logo{
  align-self: center;
  margin-bottom: 60px;
}

.welcome-slogan{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slogan-big-text {
  font: 36px "Montserrat-SemiBold", sans-serif;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
}

.secondary-font {
  font: 18px "Montserrat-ExtraLight", sans-serif;
  line-height: 27px;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 120px;
  text-align: justify;
}

.reg-font{
  font: 36px "Montserrat-ExtraLight", sans-serif;
  line-height: 40px;
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
}

/* line 8, ../scss/components/_buttons.scss */
.group-btn{
  display: flex;
  justify-content: center;
}

.btn-main {
  font: 24px "Comfortaa-VariableFont_wght", sans-serif;
  padding: 13px 0px;
  color: #fff;
  width: 335px;
  text-align: center;
  border-radius: 7px;
}

.first-btn-bg{
  background-image: linear-gradient(to right, rgba(106,121,255,1), rgba(106,255,237,1));
  margin-right: 50px;
}

.second-btn-bg{
  background: #916AFF;
}

.btn-main:hover{
  background-image: linear-gradient(to right, rgba(106,121,255,1), rgba(255,106,106,1));
  color: #fff;
}

@media (max-width: 991px) {
  /* line 21, ../scss/components/_text-style.scss */
  .slogan-big-text {
    font-size: 4.643vmin;
  }

  /* line 25, ../scss/components/_text-style.scss */
  .secondary-font {
    font-size: 18px;
  }
}
@media (max-width: 767px) and (max-width: 575px) {
  /* line 31, ../scss/components/_text-style.scss */
  .slogan-big-text {
    font-size: 30px;
  }
}
            /* WELCOME-SECTION END*/


            
            /* REGISTRACE-SECTION*/
 .registrace-section{
  padding: 10% 0 5%;
 }    

 .reg-text{
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 86px;
 } 

 .caption-txt{
  font: 24px "Comfortaa-VariableFont_wght", sans-serif;  
  line-height: 32px;
  color: #6A79FF;
  margin-bottom: 40px;
  padding: 0;
 }

 .caption-span{
  display: block;
 }

 .list-registrace{
  margin-bottom: 80px;
  list-style: disc;
 }

.list-registrace li{
  margin-bottom: 15px;
}

.list-registrace li:last-child{
  margin-bottom: 0px;
}
             /* REGISTRACE-SECTION END*/   



             /* WORKS-SECTION*/ 
.works-section{
  background-image: linear-gradient(to right, rgba(145,106,255,1), rgba(106,121,255,1), rgba(106,255,237,1
));
  padding: 10% 0%;
  text-align: center;
}

.works-txt{
  font: 36px "Montserrat-ExtraLight", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.underline {
    width: 80px;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: #fff;
    margin-top: 30px;
}

@media (max-width: 991px){
  .works-txt{
    font-size: 28px;
    line-height: 40px;
  }
}

.numbers-animate{
  justify-content: center;
}

#circle{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#circle img{
  margin: 15px 0px 25px;
}

.count, .counted
{
  font: 96px "Montserrat-ExtraLight", sans-serif;
  font-weight: bold;
  color: #fff;
}
            /* WORKS-SECTION END*/ 


           /* REGISTROVAT-SECTION*/
.registrovat-section{
  padding: 10% 0%;
}

           /* REGISTROVAT-SECTION END*/



          /* SLIDER */
.italic-style {
  font: 16px "Montserrat-ExtraLightItalic", sans-serif;
  line-height: 22px;
  color: #fff;
  margin-bottom: 20px;
}

/* line 77, ../scss/components/_text-style.scss */
.sm-bold {
  font: 13px "Montserrat-SemiBold", sans-serif;
  color: #fff;
}

                  
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

.flexslider {
  position: relative;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flex-direction-nav {
  *height: 0;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

.slides li {
  padding: 0;
  margin: 0;
  display: flex !important;
}

.slide-photo {
  padding: 0;
  overflow: hidden;
}

.quote {
  padding: 35px 50px 0 50px;
  background: #916AFF;
  position: relative;
}
.quote-bg {
  padding: 35px 50px 0 50px;
  max-height: 500px;
  background-image: linear-gradient(to right, rgba(106,121,255,1), rgba(106,255,237,1));
  position: relative;
}

@media (min-width: 1110px) {
  .quote,
  .quote-bg {
    padding: 25px 30px 0px 40px;
  }
  .italic-style,
  .sm-bold{
    font-size: 17px;
    line-height: 25px;
  }
} 

@media (min-width: 1300px) {
  .quote,
  .quote-bg {
    padding: 25px 30px 0px 40px;
  }
  .italic-style,
  .sm-bold{
    font-size: 21px;
    line-height: 28px;
  }
} 

@media (min-width: 1360px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 0px 40px;
  }
} 

@media (min-width: 1500px) {
  .italic-style,
  .sm-bold{
    font-size: 24px;
    line-height: 32px;
  }
} 

@media (max-width: 1100px) {
  .quote,
  .quote-bg {
    padding: 25px 30px 0px 30px;
  }
}
.flex-control-nav {
  bottom: 1%;
  left: 50%;
  width: 50%;
  position: absolute;
  z-index: 100;
  text-align: center;
}

@media (max-width: 991px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 50px;
    min-height: 285px;
  }

  .flex-control-nav {
    bottom: 2%;
    left: 0;
    width: 100%;
  }

  .italic-style,
  .sm-bold{
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 660px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 50px;
    min-height: 250px;
  }

  .flex-control-nav {
    bottom: 3%;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 50px;
    min-height: 320px;
  }
}

@media (max-width: 435px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 50px;
    min-height: 380px;
  }
}

@media (max-width: 360px) {
  .quote,
  .quote-bg {
    padding: 40px 30px 50px;
    min-height: 415px;
  }

  .btn-main{
    font-size: 18px;
  }
}

                /* SLIDER END*/

                /* FOOTER*/
.footer{
  padding: 10% 0%;
  text-align: center;
  font-size: 19px;
}

.web-link{
  font: 36px "Montserrat-ExtraLight", sans-serif;
  color: #916AFF;
  line-height: 60px;
}

.web-link:hover{
  color: #6A79FF;
  font-size: 40px;
}

                /* FOOTER END*/

@media (max-width: 991px){
  .group-btn{
    flex-direction: column;
    align-items: center;
  }

  .first-btn-bg{
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .reg-text{
    margin-bottom: 10%;
  }
}






